body {
  margin: 0;
  padding: 0;
  background-image: url('assets/bg.jpg');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.button-group-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    width: 90%;
    box-sizing: border-box;
}

.page-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.email-link a, .privacy-link a {
  color: #00bcd4;
  text-decoration: none;
  font-weight: bold;
}

.email-link a:hover, .privacy-link a:hover {
  text-decoration: underline;
}

/* 通用按钮基础样式 */
.download-button {
  text-decoration: none;
  background-color: #007bff; /* 蓝色为默认下载按钮颜色 */
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.download-button:hover {
  background-color: #0056b3;
}

/* 技术支持按钮的特定颜色 */
.support-button {
    background-color: #28a745; /* 绿色 */
}

.support-button:hover {
    background-color: #218838;
}

/* 新增的隐私政策按钮的特定颜色 */
.privacy-button {
    background-color: #ffc107; /* 示例颜色：黄色，你可以改为其他颜色如 #6c757d 灰色 */
    color: #333; /* 黄色背景下文字颜色可能需要调整为深色 */
}

.privacy-button:hover {
    background-color: #e0a800;
}


/* 返回按钮的特定颜色 */
.back-button {
    background-color: #6c757d; /* 灰色 */
}

.back-button:hover {
    background-color: #5a6268;
}

.privacy-link {
    margin-top: 25px;
    font-size: 16px;
}
